.note-tile {
  border-radius: 4px;
  border: 1px solid black;
  height: 3rem;

  margin: 8px 0;
  padding: 4px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between
}

.note-tile-title {
  font-weight: 700;
  font-size: large;
}

.note-tile-content {
  color: #333;
}